
<div class="top-area">
		

			<div class="top-wrapper">
			    <div class="top-zone">
			      <h1>Each Other Teaching.<br>Friendly Competition.</h1>
			    </div>
			</div>

		
</div>


<div class="balance">

<div class="exlpain">

	  <div class="explain-head">

			    <h1>study-appとは</h1>
			    <h2>いつでも勉強を教えられるアプリ</h2>
			    <h3>わからない問題を投稿し解き方を他のユーザーに教えてもらいましょう</h3>

	  </div>

	  <div class="explain-center">
      
				<div class="explain-center-area">
			          
				    <div class="explain-center-icon1">

				    </div>

				</div>

				<div class="explain-center-area">
			          
				    <div class="explain-center-icon2">

				    </div>

				</div>

				

	  </div>

	   <div class="explain-zone">

			    <div class="explain-area1">

				    <div class="explain-icon1">

				    </div>

				    <div class="explain-coment">
				    <p>問題のわからない所を投稿しましょう。カメラで問題を撮って、添付することで回答者に問題内容をわかりやすく伝えることができます。</p>

				    </div>

			    </div>

			    <div class="explain-area2">

				    <div class="explain-icon2">

				    </div>

				    <div class="explain-coment">
				    <p>問題の解答を待っている間に他のユーザーさんの投稿を見て、答えられる問題があれば解答して手伝ってあげましょう</p>

				    </div>

			    </div>

			    <div class="explain-area3">

				    <div class="explain-icon3">

				    </div>

				    <div class="explain-coment">
				    <p>問題の投稿と問題の解答を繰り返し、他のユーザーとともに成長してレベルの高い学習領域を目指しましょう。</p>

				    </div>

			    </div>
	   </div>

</div>



<div class="lesson-wrapper">
        

	            <div class="lesson-head">
	              <p>学習カテゴリー</p>
	            </div>

	        <div class="lessons">

	            <div class="lesson">

	                <div class="lesson-title">
	            	    <p>国語</p>
	                </div> 

		            <div class="lesson-icon1">
		            </div>  

		            <div class="lesson-message">
		            	<p>現代文　古典　漢文など</p>
		            </div>

	            </div>

	            <div class="lesson"> 

	                <div class="lesson-title">
	            	    <p>数学</p>
	                </div>  

		            <div class="lesson-icon2">
		            </div>

		            <div class="lesson-message">
		            	<p>数I　数II　数A　数Bなど</p>
		            </div>   

		        </div>

	            <div class="lesson">

	                <div class="lesson-title">
	            	    <p>理科</p>
	                </div> 

		            <div class="lesson-icon3">
		            </div>

		            <div class="lesson-message">
		            	<p>物理　生物　科学　地学など</p>
		            </div>

		        </div>

	            <div class="lesson">

	                 <div class="lesson-title">
	            	    <p>英語</p>
	                </div> 

		            <div class="lesson-icon4">
		            </div>

		            <div class="lesson-message">
		            	<p>単語　熟語　文法など</p>
		            </div>

		        </div>

		        <div class="lesson">

	                <div class="lesson-title">
	            	    <p>社会</p>
	                </div> 

		            <div class="lesson-icon5">
		            </div>  

		            <div class="lesson-message">
		            	<p>歴史　地理　公民など</p>
		            </div>

	            </div>

	            <div class="lesson">

	                <div class="lesson-title">
	            	    <p>next...</p>
	                </div> 

		            <div class="lesson-icon6">
		            </div>  

		            <div class="lesson-message">
		            	<p>他の教科も追加予定</p>
		            </div>

	            </div>


	        </div>
        
</div>

	<div class="message-wrapper">
	    <div class="coment-zone">
	      <div class="message-head">
	        <h2>あなたもstudy-appで学習してみませんか？</h2><br>
	        <h3>Let's grow on "study-app" !!</h3>
	      </div>
	    </div>
	</div>

</div>	
