<div class="wrapper-members">
	<h1 class="title-members">members</h1>


	<div class="box1">
		<div class="comments1">
			<p class="don">
				Kota Saito
				<br/>東京大学
				<br/>advantage: 信頼、知性
			</p>
		</div>
	</div>

	<div class="box2">
		<div class="comments2">
			<p class="don">
				Syun Sasano
			 	<br/>国士舘大学
			 	<br/>advantage: 技術、スピード
			 	</p>
		</div>
	</div>

	<div class="box3">
		<div class="comments3">
			<p class="don">
				Ryohei Kurisaki
				<br/>日本大学
				<br/>advantage: 誠実、貢献
			</p>
		</div>
	</div>

	<div class="box4">
		<div class="comments4">
			<p class="don">
				Takahiro Kaneko
				<br/>日本大学
				<br/>advantage: 創造、温厚
			</p>
		</div>
	</div>

	<div class="box5">
		<div class="comments5">
			<p class="don">
				Kohei Saito
				<br/>駒澤大学
				<br/>advantage: 笑顔、心
			</p>
		</div>
	</div>

	<div class="mem-pic">
		<img  class="pic" src="assets/members.JPG"><br/>
		<div class="mem-message">
			Make it fun!!
		</div>
		<div class="com1">
			内なるワクワクを
		</div>
		<div class="com2">
			最大に、大切に。
		</div>
		<div class="com3">
			by 5chains
		</div>
	</div>
</div>


