<div class="step-wrapper">	
	<div class="step-title"><h1>〜ご利用方法〜</h1></div>
		<div id="step-box">
			<div class="step-container">
				<h2>step1</h2>
					<h3>アプリをダウンロードしよう！<br><img src="https://devimages.apple.com.edgekey.net/app-store/marketing/guidelines/images/badge-download-on-the-app-store-jp.svg"></h3>
			</div>
			<div class="step-container">
				<h2>step2</h2>
					<h3>twitter、メールアドレスで会員登録してみよう！</h3>
					<p>もちろん無料！</p>
					<p>プロフィールを詳しく書くと、答えてもらいやすくなるよ！</p>
			</div>
			<div class="step-container">
				<h2>step3</h2>
					<h3>早速質問してみよう！</h3>
			</div>
		</div>
</div>