/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.clearfix::after{
    content: "";
    clear: both;
    display: block;
}
header{
    width: 100%;
    position:fixed;
    z-index: 100;
}
nav{
    width: 90%;
    height: 100px;
    float: right;

}
.title{
    width: 30%;
    float: left;
    line-height: 60px;
    color:orange;

}
.top-menu{
    width: 70%;
    line-height: 100px;
    float: right;
}
.sub-title a{
    color:orange;
    text-decoration:none;
}
.sub-title a:hover{
    text-decoration:none;
}
.top-menu-item{
    width: 12%;
    float: left;
    list-style: none;
    text-align: center;
    text-decoration:none;

}

.top-menu-item:hover{
    background-color:#87CEEB;
    opacity:0.4;
}