*{
    margin: 0;
    padding: 0;
}
.clearfix::after{
    content: "";
    clear: both;
    display: block;
}
header{
    width: 100%;
    position:fixed;
    z-index: 100;
}
nav{
    width: 90%;
    height: 75px;
    float: right;

}
.title{
    width: 30%;
    float: left;
    line-height: 25px;
    color:#9090b9;


}
.bg{
    background-color:white;
}
.top-menu{
    width: 70%;
    line-height: 75px;
    float: right;
}
.sub-title a{
    color:#9090b9;
    text-decoration:none;
    transition: .5s all ease-out;
    text-decoration: none;
    opacity: 1.0;
}
.sub-title a:hover{
    text-decoration:none;
    color:#333333;
}
.top-menu-item{
    width: 12%;
    float: left;
    list-style: none;
    text-align: center;
    text-decoration:none;

}

.top-menu-item:hover{
    background-color:#9090b9;
    opacity:0.5;
}

@media (max-width: 1120px) {
  
  .top-menu{
    display:none;
  }
}

@media (min-width: 1121px) {
  
  #ham-menu{
    display:none;
  }
}

/*メニュー部分*/
#ham-menu {
    background-color: #fff; /*メニュー背景色*/
    box-sizing: border-box;
    height: 100%;
    padding: 10px 40px; /*メニュー内部上下左右余白*/
    position: fixed;
    right: -165px; /*メニュー横幅①と合わせる*/
    top: 0;
    transition: transform 0.3s linear 0s; /*0.3s は変化するのにかかる時間*/
    width: 165px; /*メニュー横幅①*/
    z-index: 1000;
}
#ham-menu li {
    list-style:none;
}
/*メニューアイコン部分は疑似要素で*/
#ham-menu::before {
    background-color: #fff; /*ボタン部分背景色*/
    border-radius: 0 0 0 10px; /*左下角丸*/
    color: #333; /*アイコン（フォント）色*/
    content: "≡"; /*メニューアイコン*/
    display: block;
    font-size: 50px; /*アイコン（フォント）サイズ*/
    height: 50px;
    line-height: 50px; /*縦位置中央化*/
    position: absolute;
    right: 100%;
    text-align: center;
    top: 0;
    width: 50px;
}

/*透過背景部分*/
#menu-background {
    background-color: #333; /*黒背景部分背景色*/
    display: block;
    height: 100%;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: all 0.3s linear 0s; /*0.3s は変化するのにかかる時間*/
    width: 100%;
    z-index: -1;
}
/*hover 時の処理*/
#ham-menu:hover {
    transform: translate(-165px); /*メニュー横幅①と合わせる*/
}

#ham-menu:hover + #menu-background {
    opacity: 0.5; /*黒背景部分透過度*/
    z-index: 999;
}