.top-area{
  width:100%;
  height:710px;
  background-image: url(kyousitu2.png);
  background-size: cover;
}

@media (max-width: 500px) {
  
  .top-area{
    height: 650px;
  }
}

.top-wrapper {
  width: 100%;
  height: 710px;
  padding: 200px 0px 0px 0px;
  color: #99FFFF;
  text-align: center;
}

@media (max-width: 800px) {
  
  .top-wrapper{
    height: 600px;
  }
}

@media (max-width: 500px) {
  
  .top-wrapper{
    height: 650px;
  }
}

.top-zone{
  width: 100%;
  height: 275px;
  margin-top: 65px;
}

@media (max-width: 800px) {
  
  .top-zone{
    height: 95px;
  }
}

@media (max-width: 800px) {
  
  .top-zone{
    margin-top: 85px;
    margin-left: 15px;
  }
}


.top-wrapper h1 {
  opacity: 0.95;
  font-size: 55px;
  letter-spacing: 5px;
  opacity:1;
  font-family:"AvenirNext-Regular", "Lato", "AxisStd-Light", sans-serif;

}

@media (max-width: 1000px) {
  
  .top-wrapper h1 {
    font-size: 33px;
  }
}

@media (max-width: 500px) {
  
  .top-wrapper h1 {
    font-size: 24px;
    text-align: left;
  }
}

.top-wrapper p {
  margin-top: 50px;
  opacity: 0.95;
  font-size: 19px;
  font-family:"AvenirNext-Regular", "Lato", "AxisStd-Light", sans-serif;
}

@media (max-width: 1000px) {
  
  .top-wrapper p {
    font-size: 17px;
  }
}

@media (max-width: 500px) {
  
  .top-wrapper p {
    font-size: 12px;
    text-align: left;
  }
}

.balance{
  width:80%;
  height:100%;
  margin:0 10% 0% 10%;
}

.exlpain{
  width:100%;
  height:1250px;
}

.explain-head{
  width:100%;
  height:275px;
}

.explain-head h1{
  text-align:center;
  font-family: "AvenirNext-Regular", "Lato", "AxisStd-Light", sans-serif;
  padding-top: 65px;
}

@media (max-width: 500px) {
  
  .explain-head h1{
    font-size:27px;
  }
}

.explain-head h2{
  text-align:center;
  font-family: "AvenirNext-Regular", "Lato", "AxisStd-Light", sans-serif;
  padding-top: 10px;
}

@media (max-width: 500px) {
  
  .explain-head h2{
    font-size:20px;
  }
}

.explain-head h3{
  text-align:center;
  font-family: "AvenirNext-Regular", "Lato", "AxisStd-Light", sans-serif;
  padding-top: 40px;
}

@media (max-width: 500px) {
  
  .explain-head h3{
    font-size:18px;
  }
}

.explain-center{
  width:100%;
  height:500px;
}


@media (max-width: 500px) {
  
  .explain-center{
    height:1000px;
  }
}


.explain-center-area{
  float:left;
  width:225px;
  height:425px;
  margin:1.5% 13% 1.5% 13%;
}

@media (max-width: 1000px) {
  
  .explain-center-area{
    margin:1.5% 10.5% 1.5% 10.5%;
  }
}

@media (max-width: 500px) {
  
  .explain-center-area{
    margin:14%;
  }
}

.explain-center-icon1{
  width:225px;
  height:425px;
  background-image: url(iphone3.jpeg);
  background-size: cover;
  
}

.explain-center-icon2{
  width:225px;
  height:425px;
  background-image: url(iphone3.jpeg);
  background-size: cover;
  
}



.explain-zone{
  margin-top:25px; 
  width:100%;
  height:550px; 
}

@media (max-width: 1000px) {
  
  .explain-zone{
    height:1200px;
  }
}

@media (max-width: 500px) {
  
  .explain-zone{
    height:2400px;
  }
}

.explain-area1{
  text-align:center;
  float: left;
  width:300px;
  height:420px;
  margin:1.8%;
}

.explain-area2{
  text-align:center;
  float: left;
  width:300px;
  height:420px;
  margin:1.8%;
  border-right: 1px solid #DDDDDD;
  border-left:1px solid #DDDDDD;
}

@media (max-width: 1000px) {
  
  .explain-area2{
    border:none;
  }
}

.explain-area3{
  text-align:center;
  float: left;
  width:300px;
  height:420px;
  margin:1.8%;
}

@media (max-width: 1000px) {
  
  .explain-area1{
    margin:0%;
    width:100%;
  }
  .explain-area2{
    margin:0%;
    width:100%;
  }
  .explain-area3{
    margin:0%;
    width:100%;
  }
}

.explain-icon1{
  text-align: center;
  width: 200px;
  height: 180px;
  margin:0px 30px 0px 30px;
  background-image: url(question6.jpg);
  background-size: cover;
}

@media (max-width: 1000px) {
  
  .explain-icon1{
    margin:0px 0px 0px 290px;
  }
}

@media (max-width: 500px) {
  
  .explain-icon1{
    margin:0px 0px 0px 55px;
  }
}

.explain-icon2{
  text-align: center;
  width: 200px;
  height: 180px;
  margin:0px 30px 0px 30px;
  background-image: url(fukidasi2.jpg);
  background-size: cover; 
}

@media (max-width: 1000px) {
  
  .explain-icon2{
    margin:0px 0px 0px 280px;
  }
}

@media (max-width: 500px) {
  
  .explain-icon2{
    margin:0px 0px 0px 45px;
  }
}

.explain-icon3{
  text-align: center;
  width: 200px;
  height: 180px;
  margin:0px 30px 0px 30px;
  background-image: url(yazirushi2.jpg);
  background-size: cover;
}

@media (max-width: 1000px) {
  
  .explain-icon3{
    margin:0px 0px 0px 280px;
  }
}

@media (max-width: 500px) {
  
  .explain-icon3{
    margin:0px 0px 0px 45px;
  }
}

.explain-coment{
  width:256px;
  height:240px;
  padding-top:30px;
  margin-left: 20px
}

.explain-coment p{
  letter-spacing: 0.5em;
}

@media (max-width: 1000px) {
  
  .explain-coment{
    padding:75px 140px 0px 120px;
    width:100%;
  }
}

@media (max-width: 500px) {
  
  .explain-coment{
    padding:30px 0px 0px 0px;
    margin:0px 0px 0px 0px;
  }
}

.lesson-wrapper {
  width: 100%;
  height:1100px;
}

@media (max-width: 1000px) {
  
  .lesson-wrapper{
    height:2300px;
  }
}

@media (max-width: 500px) {
  
  .lesson-wrapper{
    height:4400px;
  }
}

.lesson-head {
  width: 100%;
  height: 100px;
  margin-top:30px;
}

@media (max-width: 1000px) {
  
  .lesson-head{
    height:170px;
    margin-top:50px;
  }
}

@media (max-width: 500px) {
  
  .lesson-head{
    height:300px;
    margin-top:50px;
  }
}

.lesson-head p {
  text-align: center;
  font-size: 25px;
  font-family:"AvenirNext-Regular", "Lato", "AxisStd-Light", sans-serif;
  color:#808080;
  padding-top: 70px;
}

.lessons{
  width: 100%;
  height: 1200px;
  text-align: center;
}

@media (max-width: 1000px) {
  
  .lessons{
    height:2300px;
  }
}

@media (max-width: 500px) {
  
  .lessons{
    height:4400px;
  }
}

.lesson{
  text-align: center;
  float: left;
  width: 290px;
  height: 400px;
  margin:4% 2.2% 4% 2.2%;
  border:2px solid;
  border-color:#CCCCCC;
  border-radius: 3%;
　box-shadow: 0 0 0 2px;
 
}


@media (max-width: 1000px) {
  
  .lesson{
    margin:8% 6.5% 8% 6.5%;
  }
}

@media (max-width: 500px) {
  
  .lesson{
    margin:30% 2.8% 12% 2.8%;
  }
}

.lesson-title{
  text-align: center;
  width: 300px;
  padding:40px 0px 0px 0px;
}

.lesson-title p{
  text-align: center;
  font-size:25px;
  font-family: "AvenirNext-Regular", "Lato", "AxisStd-Light", sans-serif;
  color:#666666;
}

.lesson-icon1{
  text-align: center;
  width: 180px;
  height: 180px;
  margin:0px 56px 0px 56px;
  background-image: url(kokugo1.jpg);
  background-size: cover;
  
}

.lesson-icon2{
  text-align: center;
  width: 180px;
  height: 180px;
  margin:0px 56px 0px 56px;
  background-image: url(suugaku6.jpg);
  background-size: cover;
  
}

.lesson-icon3{
  text-align: center;
  width: 180px;
  height: 180px;
  margin:0px 56px 0px 56px;
  background-image: url(rika1.jpg);
  background-size: cover;
  
}

.lesson-icon4{
  text-align: center;
  width: 180px;
  height: 180px;
  margin:0px 56px 0px 56px;
  background-image: url(eigo1.jpg);
  background-size: cover;
  
}

.lesson-icon5{
  text-align: center;
  width: 180px;
  height: 180px;
  margin:0px 56px 0px 56px;
  background-image: url(syakai1.jpg);
  background-size: cover;
  
}

.lesson-icon6{
  text-align: center;
  width: 180px;
  height: 180px;
  margin:0px 56px 0px 56px;
  background-image: url(question1.jpg);
  background-size: cover;
  
}


.lesson-message{
  width:290px;
  height:220px;
  padding-top:30px;
}

.lesson-message p{
  font-family:"AvenirNext-Regular", "Lato", "AxisStd-Light", sans-serif;
  font-size:16px;
  color:#808080;
}




.message-head h3 {
  font-family:"AvenirNext-Regular", "Lato", "AxisStd-Light", sans-serif;
  color:#808080;
}

.message-head h2 {
  font-family:"AvenirNext-Regular", "Lato", "AxisStd-Light", sans-serif;
  color:#808080;
}

@media (max-width: 500px) {
  
  .message-head h2{
    font-size: 25px;
  }
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

@media (max-width: 1000px) {
  
  .message-wrapper{
    border:none;
  }
}

.coment-zone{
  width: 100%;
  height: 220px;
  padding-top: 50px;
}

